//Tamaño Media Queries 
$desktop: 1200px;

//Fuentes
$fuente_principal: "Manrope", sans-serif;

//Colores

$darkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

$white: white;

//Tamaños fuente
$medium: 500;
$bold: 700;
